{% extends 'base.html' %}

{% block body %}
<div class="faq-container">
    <h1>Вопросы и ответы</h1>

    <div class="faq-item">
        <h3>Какие форматы аудиофайлов поддерживаются для загрузки?</h3>
        <p>На текущий момент поддерживается только формат WAV для загрузки аудиофайлов.</p>

        <h3>Какие языки можно использовать для распознавания аудио в текст?</h3>
        <p>Система распознавания поддерживает английский, русский, французский и испанский языки.</p>

        <h3>Могу ли я получить текстовый файл с результатом распознавания?</h3>
        <p>Да, после завершения процесса распознавания вы сможете скачать текст транскрипции в формате TXT или DOCX.</p>

        <h3>Что делать, если мой файл не удалось распознать?</h3>
        <p>Если возникают проблемы с распознаванием вашего аудиофайла, пожалуйста, убедитесь, что файл имеет формат WAV, и попробуйте загрузить его еще раз. Если проблема сохраняется, свяжитесь с нашей службой поддержки.</p>

        <h3>Есть ли ограничения на размер загружаемых файлов?</h3>
        <p>На данный момент нет ограничений на размер загружаемых файлов, однако учтите, что большие файлы могут занимать больше времени на обработку.</p>
    </div>
</div>
{% endblock %}
