{% extends 'base.html' %}

{% block body %}
<div class="instruction-container">
    <h1>Инструкция</h1>
    <p>Добро пожаловать на наш сайт! Здесь вы можете загрузить аудиофайл в формате WAV и преобразовать его в текст.</p>

    <h2>Как использовать</h2>
    <ol>
        <li>Перейдите на главную страницу.</li>
        <li>Нажмите на кнопку "Выберите файл".</li>
        <li>Выберите аудиофайл в формате WAV и нажмите "Открыть".</li>
        <li>Выберите язык распознавания (английский, русский, французский или испанский язык).</li>
        <li>Нажмите кнопку "Распознать речь".</li>
        <li>После обработки аудиофайла, текст транскрипции будет отображен на экране.</li>
        <li>Вы можете скачать текст транскрипции в формате TXT или DOCX.</li>
    </ol>
    <h2>Важно</h2>
    <ul>
        <li>Поддерживаемые форматы аудиофайлов: WAV.</li>
        <li>Поддерживаемые языки для распознавания: английский, русский, французский и испанский языки.</li>
    </ul>
</div>
{% endblock %}
