.reset_pass {
    width: 400px;
    margin: 177px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reset_pass h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.reset_pass form {
    display: flex;
    flex-direction: column;
}

.reset_pass .form-group {
    margin-bottom: 20px;
}

.reset_pass input[type="text"],
.reset_pass input[type="password"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.reset_pass input[type="submit"] {
    padding: 12px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.reset_pass input[type="submit"]:hover {
    background-color: #0056b3;
}

.reset_token {
    width: 400px;
    margin: 126px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reset_token h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.reset_token form {
    display: flex;
    flex-direction: column;
}

.reset_token .form-group {
    margin-bottom: 20px;
}

.reset_token input[type="password"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.reset_token input[type="submit"] {
    padding: 12px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.reset_token input[type="submit"]:hover {
    background-color: #0056b3;
}
